* {
    margin: 10px;
    padding: 10px;
    ;
}
.container{
    width: 1125px;
    height: 800px;
    background-color: silver;
    margin: 300px;
}
.top-nav {
    height: 200px;
    width: 1083px;
    background-color: green;
    margin: 10px;
}
.side-nav {
    height: 345px;
    width: 210px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}
.main {
    height: 450px;
    width: 825px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
}
.sub-content {
    height: 200px;
    width: 220px;
    background-color: yellow;
    display: inline-block;

}
#advertisement {
    height: 130px;
    width: 750px;
    background-color: purple;
}
